<section class="card">
	<header class="card-heading">
		<i class="fa fa-th-large"></i>
		<h1 class="card-title">{{title}}
			<a class="anchorPijl" anchor-smooth-scroll="top"></a>
		</h1>
	</header>
	<div class="card-body has-no-padding" ng-class="{'hide-padding':hideAll}" loading="loading">
	    <form novalidate name="name" class="fieldset-editable form-horizontal" tink-form-status="status" tink-form-editable="true" tink-fieldset>
			<div ng-show="!loading && !hideAll" ng-transclude></div>
			<div ng-show="loading && !hideAll" style="text-align: center;">
				<div class="loader">De gegevens worden opgevraagd.</div>
			</div>
		</form>
	</div>
</section>